@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div>
    <card class="card">
    @currentCount
    </card>
</div>
<button class="btn btn-primary m2" @onclick="IncrementCount">Add</button>
<button class="btn btn-primary m2" @onclick="DecrementCount">Subtract</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
